.create-spot-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 35rem;
    border-top: 1px solid #000; /* Add a border on top of the form */
}


.error{
    color: red;
}
