.spots-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 5rem;
  }
  
  .spot-card {
    box-sizing: border-box;
    border-radius: 25px;
    color: #0C273D;
    margin-bottom: 3rem;
    overflow: hidden; /* Ensure consistent card height */
  }
  
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 25px;
  }
  
  .spot-image-box {
    width: 100%;
    height: 370px;
    border: 1px solid #0C273D5b;
    background-color: white;
    border-radius: 25px;
  }
  .spot-details{
    text-decoration: none;
  }  

  .create-spot-button{
    height: 30px;
    width: 100px;
    font-size: x-small;
    position: relative;
    bottom: 16px;
  }

.small-button{
    margin-right: 10px;
}
