/* TODO Add site wide styles */
/* TODO Add site wide styles */

@font-face {
    font-family: "Cinzel";
    src: url("../public/assets/Cinzel/Cinzel-VariableFont_wght.ttf") format("truetype");
  }

:root {
    background-color: #d3d3d3 ;
    font-family: 'Cinzel', serif;
}
